[submodule "borsh"]
	path = borsh
	url = https://github.com/joncinque/borsh-zig.git
[submodule "bincode"]
	path = bincode
	url = https://github.com/joncinque/bincode-zig.git
[submodule "lib/zig-clap"]
	path = lib/zig-clap
	url = https://github.com/Hejsil/zig-clap
